p.caption {
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal .section.level1 > blockquote {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 240px;
  margin-top: 70px;
}

p, dd {
  text-align: justify;
}
