.block {
  fill: white;
  stroke: black;
}

.block-data {
  fill: white;
  stroke: black;
}

.block-children {
  fill: white;
  stroke: black;
}

.block-data-children {
  fill: white;
  stroke: black;
}

.block-link {
  fill: white;
  stroke: black;
}
