@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

.reveal .slides {
  font-family: 'Source Sans Pro';
  font-size: 26px;
}

.reveal p {
  font-size: 26px;
  margin-left: 80px;
  margin-right: 80px;
}

.reveal h1, .reveal h2 {
  margin-bottom: 30px;
}

.reveal h1 {
  color: #4287c7;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 60px;
}

.reveal h2 {
  color: #4287c7;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 48px;
}

.reveal h3 {
  color: #585858;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 36px;
}

.reveal a, .reveal a > code {
  font-family: 'PT Mono';
  color: rgb(58, 101, 133);
  text-decoration: none;
}

.reveal ul {
  margin-left: 80px;
  margin-right: 80px;
}

.reveal li {
  margin-bottom: 10px;
}

.reveal blockquote {
  box-shadow: none;
}

.reveal blockquote > p {
  margin: 0;
}

.reveal .figure img {
  margin-top: 0;
  margin-bottom: 0;
}

.reveal .figure p {
  margin: 0;
  font-size: 16px;
  color: #777;
}

.pagedtable { opacity: 1 !important; }

.prettyprint {
  background-color: #fff9ee;
  border-left: solid 20px #ffa300;
}

.pagedtable-indexes { width: 240px; }
#sparklyr-r-interface-for-apache-spark {
  margin-top: 20px
}

.reveal .sourceCode > pre {
  background-color: #f9fcff;
  border-left: solid 20px #4287c7;
}

.reveal .sourceCode > pre.java {
  border-left: solid 20px #87c742;
}

.reveal .javaHighlight {
  color: #87c742;;
}

.reveal div.sourceCode {
  margin-left: 16px;
  margin-right: 16px;
}

.reveal div.sourceCode,
.reveal pre.sourceCode {
  margin-top: 5px;
  margin-bottom: 5px;
}

.reveal pre.sourceCode {
  padding: 5px;
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

slide.current::after {
  visibility: hidden;
}

.backgrounds {
  background: #000;
}

.slides {
  background: #FFF;
}

.reveal .compactTable {
  font-size: 20px;
}

.reveal .compactTable th,
.reveal .compactTable table,
.reveal .compactTable td {
  border: none;
}

.reveal .compactTable td:nth-of-type(2) {
  color: #888;
}

.reveal .highlight {
  background-color: yellow;
  display: inline-block;
}

.reveal .highlight a {
  color: #000;
}

.reveal .spaced {
  margin-top: 25px;
}
